*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Cairo', sans-serif;
  overflow-x: hidden !important;
}
::selection{
  background: #e88c38;
  color: #fff;
}
::-webkit-scrollbar{
  width: 10px;
  background: #e88c38;
}
::-webkit-scrollbar-thumb{
  background:  #939292;
  border-radius: 20px;
}
a{
  color: unset;
  text-decoration: none;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.head{
  font-family: 'Dancing Script', cursive;
}

.loading{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}